.custom-modal {
    width: 100%;
    max-height: 100vh !important;
    margin: 0 !important;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.closeFriend, .suggested {
    width: 100%;
    height: 100%;
}

.friendSection {
    width: 100%;
    height: 100%;
}

#close-friends-list, #suggested-friends-list {
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
    background-color: #ffffff !important;
}

/* Style the scrollbar track */
.list::-webkit-scrollbar {
    width: 12px;
}

/* Style the scrollbar handle */
.list::-webkit-scrollbar-thumb {
    background-color: #efafee; /* Handle color */
    border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar handle on hover */
.list::-webkit-scrollbar-thumb:hover {
    background-color: #c298c1; /* Darker color on hover */
}

/* Style the scrollbar track */
.list::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f1f1f1; /* Track color */
}
.circle {
    width: 50px;
    height: 50px;
    border: 4px solid #EFBDEE;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kotak-kecil {
    width: 45px;
    height: 20px;
    background-color: #0D99FF;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 100px;
}

.text {
    font-weight: bold;
    color: black;
    width: 40%;
}

.text1 {
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-left: 7px;
    margin-bottom: 10px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.h6 {
    font-weight: bold;
}

input[type="radio"]:checked {
    background-color: #EFBDEE;
    border-color: #b9b6b6;
}

.modal-content {
    position: fixed;
    z-index: 100;
}