.circle {
    width: 50px;
    height: 50px;
    border: 4px solid #EFBDEE;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kotak-kecil {
    width: 45px;
    height: 20px;
    background-color: #0D99FF;
    border-radius: 30px;
    margin-top : 10px;
    margin-left: 100px;
}

.text {
    font-weight: bold;
    color: black;
    /* margin-left : 7px;
    margin-bottom : 10px; */
    /* max-width: 50%; */
    width:40%;
}

.text1 {
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-left : 7px;
    margin-bottom : 10px;
    /* overflow: hidden; */
}

.scroll::-webkit-scrollbar {
    width: 8px !important;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 4px !important;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.search-container {
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    background-color: #EFBDEE;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 10px 0;
    position: relative;
    margin: auto;
}

.search-container .search-icon {
    position: absolute;
    left: 50px;
    color: #000;
}

.search-container input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 40px;
}

.search-container {
    font-size: 24px;
    color: #000;
}

.search-container input::placeholder {
    text-align: center;
    font-weight: 600;
    color: black;
    opacity: 1;
}

.form-check {
    margin-left: auto;
}

.copy-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-input {
    font-weight: bold;
    text-align: center;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: none;
    margin-right: 4px;
    width: auto;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.copy-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    color: #EFBDEE;
}

.share-button{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center; 
}

.copy-button:hover {
    color: #F3E8F3;
}