*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
}

body{
   background: linear-gradient(to right, #F3E8F3, #ffff);
}

h1{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}

form{
    margin-top: 10px;
}

.container{
    height: 80vh;
    width: 80vw;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.container button{
    padding: 6px 30px;
    border-radius: 30px;
}

.form-check{
    text-align: left;
    justify-content: left;
}

.col{
    flex-grow: 0.88;
    justify-content: flex-end;
}

.left{
    width: 50%;
    flex: 1;
    padding: 0 20px;
    justify-content: center;
  
}

.right{
    height: 100vh;
    background-color: #F3E8F3;
    flex: 1;
    padding: 0 20px;
}

/* box-shadow: 0 0 20px 20px rgba(0,0,0,.1); */