.content-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: 80px;
}
.content {
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.page-control{
    width: 80px;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    top: 0;
    /* padding: 1rem; */
    justify-content: center;
    align-items: center;
}

.controller{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.scroll-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.5rem;
    z-index: 25;
    position: relative;
    padding: 10px;
}

.scroll-button::after {
    content: attr(data-label);
    position: absolute;
    bottom: 110%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    font-size:  0.7rem;
    color: white;
    padding: 4px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.scroll-button:hover::after {
    opacity: 1;
}

.scroll-button:hover {
    background-color: #EFBDEE;
}

.camera {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.center-box {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 375px;
    /* aspect-ratio: 1; */
    border-radius: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: #000000 solid 2px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    /* margin: auto; */
    /* margin-top: 50px; */
    z-index: 10;
}

.control-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#kamera {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 375px;
}

#my_camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-btn {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid pink;
    left: 50%;
}

.circle-btn-small {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid pink;
}

.control-bar .image-icon {
    position: absolute;
    /* left: 3rem; */
    /* margin-right: 3rem; */
}

.caption{
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    font-size: 0.8rem;
    /* text-align: center;  */
    max-width: 90%;
    margin: 0 auto;
    bottom: 10px;
}


.send-btn {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid pink;
    /* position: absolute; */
    z-index: 11;
}

.image-icon {
    /* position: absolute; */
    /* bottom: 25px; */
    left: 10%;
    font-size: 20px;
    color: #5F6368;
    display: inline-block;
    cursor: pointer;
}

.radio-btn {
    display: none;
}

.circleButton {
    border: none;
    background: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circleButton span {
    font-size: 2rem;
}

.radio-btn:checked + .circleButton {
    background-color: #D1D5DB;
}

.image-icon input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.history-text {
    width: 100%;
    height: 10%;
    bottom: 0;
    text-align: center;
    margin-top: 1%;
}

.history-text .material-symbols-outlined {
    font-size: 300%;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 24;
}

.material-symbols-outlined {
    font-size: 400%;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
}

a {
    color: #5F6368;
}

/*
.carousel-item h2 {
    font-size: 1.5rem;
    color: #000;
} */

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; 
    background-size: 100%, 100%; 
    border-radius: 50%;
} */
/* .carousel-inner {
    display: flex;
    align-items: center;
} */

.caption-input{
    border-radius: 25px;
}

.location-input {
    width: 80%;
    border-radius: 25px 0px 0px 25px;
}

.location-button {
    background-color: #EFBDEE;
    width: 15%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-radius: 00px 25px 25px 0px;
}

.location-button .material-symbols-outlined {
    font-size: 200%;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 24;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev {
    left: -50px; 
}

.carousel-control-next {
    right: -50px; 
}

.dropdown-search-results {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
.dropdown-search-results div {
    padding: 0.5em;
    cursor: pointer;
}
.dropdown-search-results div:hover {
    background: #f1f1f1;
}
.selected-user {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0.2em;
    border-radius: 25px;
    background-color: #007bff;
    font-size: 0.8rem;
    color: white;
}
.selected-user .remove-user {
    cursor: pointer;
    margin-left: 0.5em;
}