.center-box {
    width: 70%;
    height: 70%;
    /* aspect-ratio: 1; */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* margin: auto; */
    /* margin-top: 50px; */
    z-index: 10;
}

.my_camera{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* border-radius: 15px; */
}

.circle-btn {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid pink;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.send-btn {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid pink;
    /* position: absolute; */
    z-index: 11;
}

.image-icon {
    position: absolute;
    bottom: 25px;
    left: 10%;
    font-size: 30px;
    color: #5F6368;
    display: inline-block;
    cursor: pointer;
}

.radio-btn {
    display: none;
}

.circleButton {
    border: none;
    background: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circleButton span {
    font-size: 2.8rem;
}

.radio-btn:checked + .circleButton {
    background-color: #D1D5DB;
}

.image-icon input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.history-text {
    width: 100%;
    height: 10%;
    bottom: 0;
    text-align: center;
    margin-top: 1%;
}

.history-text .material-symbols-outlined {
    font-size: 300%;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 24;
}

.material-symbols-outlined {
    font-size: 400%;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
}

a {
    color: #5F6368;
}

.carousel-item {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-item h2 {
    font-size: 1.5rem; /* Adjusted for better visibility */
    color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Change arrow color */
    background-size: 100%, 100%; /* Adjust background size for better visibility */
    border-radius: 50%; /* Optional: Add a border radius for better aesthetics */
}
